*{
    margin: 0;
    padding: 0;
}
.area3{
    width: 100vw;
    height: 100vh;
    background-color: #000;
}
.area3 .area2-opacity{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container-works{ 
    margin-top: 20px;
    width: 1140px;
    max-width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;;
}
.area3 .area3--projects{
    position: relative;
    display: none;
    width: 700px;
    height: 450px;
    color: #d4d3f5;
    font-size: 60px;

}
.container-projects{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}
.container-projects h1{
    position: absolute;
    font-size: 30px;
}
.container-projects-img{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.container-projects .img-projects{
    width: 100%;
    height: 100%;
}

.area3 .area3--projects.selected{
    display: block;
    animation: transition .9s; 
}
.btn-slide{
    cursor: pointer;
}
.container-works img{
    width: 50px;
}

@keyframes transition {
    0%{ opacity: 0;}
    100%{opacity: 1;}
    
}
